.topics{
    background: var(--blue-degrade);
    text-align: center;
    padding: 1em 0;
  }
  
  .topics__title{
    color: var(--color-white);
    font-weight: 300;
    margin-bottom: 1em;
  }
  
  .topics__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .topics__item{
    margin: 2em 0.5em;
  }
  
  .topics__link{
    color: var(--color-white);
    background-color: var(--color-orange);
    text-decoration: none;
    padding: 1em;
    font-weight: 700;
    font-size: 0.875em;
  }